.pokemonWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Chia 4 cá»™t */
    gap: 10px;
    margin-top: 20px;
}

.pokemon-card {
    width: 100px;
    height: 140px;
    background-color: #ddd;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.card-face.back img {
    width: 80%;
    margin-top: 10px;
}